# Data Science Tools and Ecosystem

# Exercise 3 - Create a markdown cell for an introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 4 - Create a markdown cell to list data science languages

In [12]:
a= ['Python', 
    'R' , 
    'Machine Language', 
    'MySQL']
print("Some of the popular languages that Data Scientists use are: " , a)

Some of the popular languages that Data Scientists use are:  ['Python', 'R', 'Machine Language', 'MySQL']

In [15]:
# Exercise 5 - Create a markdown cell to list data science libraries

lib = ['Pandas', 'Matplotlib', 'Numpy', 'seaborn']


print('Some of the commonly used libraries used by Data Scientists include: ' , lib)

Some of the commonly used libraries used by Data Scientists include:  ['Pandas', 'Matplotlib', 'Numpy', 'seaborn']

# Exercise 6 - Create a markdown cell with a table of Data Science tools

In [19]:
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [20]:
from tabulate import tabulate
 
# assign data
mydata = [
    ['Python'], 
    ["MySQL"], 
    ["Machine Learning"], 

]
 
# create header
head = ['Data Science Tools']

In [24]:
print(tabulate(mydata, headers=head, tablefmt="grid"))

+----------------------+
| Data Science Tools   |
+======================+
| Python               |
+----------------------+
| MySQL                |
+----------------------+
| Machine Learning     |
+----------------------+

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

# Exercise 8 - Create a code cell to multiply and add numbers

In [25]:
b= (3*4)+5
b

17

# Exercise 9 - Create a code cell to convert minutes to hours

In [26]:
c = 200/60
c

3.3333333333333335

# Exercise 10 - Insert a markdown cell to list Objectives

In [30]:
list = ["List popular languages for Data Science",
"Identify commonly libraries used in Data Science", 
"Few examples of evaluating arithmetic expressions in Python",
"Explore different data science tools",
"Understand the importance of various development environments in data science"]
list

['List popular languages for Data Science',
 'Identify commonly libraries used in Data Science',
 'Few examples of evaluating arithmetic expressions in Python',
 'Explore different data science tools',
 'Understand the importance of various development environments in data science']